<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miso.vinilosapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VinilosApp">
        <activity
            android:name=".view.ArtistsActivity"
            android:label="Artists"
            android:exported="false" />
        <activity
            android:name=".view.AlbumsActivity"
            android:label="Albums"
            android:exported="false" />
        <activity
            android:name=".view.MenuActivity"
            android:label="Menu"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity2"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.VinilosApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>